<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690815796934-bb2dhd7v7feicompj4ddj5f2a05fp0r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690815796934-bb2dhd7v7feicompj4ddj5f2a05fp0r7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690815796934-sjp7m1n3nnanoahith5gepgokkett4kg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0g2ngi3L8rZJ1ia8B4BennG6jxBP6wyo</string>
	<key>GCM_SENDER_ID</key>
	<string>690815796934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutteruhr.practicaexamen</string>
	<key>PROJECT_ID</key>
	<string>practicaexamen-d13be</string>
	<key>STORAGE_BUCKET</key>
	<string>practicaexamen-d13be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690815796934:ios:6ed823c914cc5e51a0b9c7</string>
</dict>
</plist>